#!/bin/bash
#$ -cwd
#$ -S /bin/bash
export MPICH_HOME=/share/apps/mpich/gnu
export MPICH_APP=/home/user/gridlb/src/wrapper/gridlb
export LB_SCRIPT=/home/user/gridlb/examples/test.lua
$MPICH_HOME/bin/mpirun -np $NSLOTS -machinefile $TMPDIR/machines $MPICH_APP $LB_SCRIPT
